* { 
margin: 0;
padding: 0;
}
header,nav,main,aside,footer {
background-color: #7A85C1;

}
body {
font-family: ans-serif;
text-align: center;
background-color: #3B38A0;
color: #b2b0e8;
}
header {
background-color: #1A2A80;;
}
nav {
display: flex;
justify-content: space-around;
align-items: center;
font-family: Arial, Helvetica, sans-serif;
background-color: #1A2A80;
height: 8vh;
}
main {
background: url(./img/pokemon.jpeg) no-repeat
center center;
background-size: cover;
height: 92vh;
}
a {
color: #fff;
text-decoration:none ;
transition: 0.3s;
}
a:hover {
 opacity: 0.7;
}
.logo {
font-size: 24px;
text-transform: uppercase;
letter-spacing: 4px;
}
.nav-list {
list-style: none;
display: flex;
}
.nav-list li {
 letter-spacing: 3px;
 margin-left: 32px;
}
.mobile-menu {
display: flex;
cursor: pointer;
}
.mobile-menu div {
width: 32px;
height: 2px;
background: #fff;
margin: 8px;
}
@media (max-width: 999px) {
body {
overflow-x: hidden;
}
.nav-list {
position: absolute;
top: 8vh;
right: 0;
width: 50vw;
height: 92vh;
background: #3B38A0;
flex-direction: column;
align-items: center;
justify-content: space-around;
transform: translateX(100%);
transition: transform 0.3s ease-in;
}
}
